@page "/"
@inject NavigationManager NavigationManager
@inject IGameService<Human> Game

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Choose a character</MudText>
    <MudText Align="Align.Center">Start here by choosing the character you'd like to play</MudText>
    <MudGrid Class="mt-8">
        @foreach (ActorTemplate template in Humans)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard Elevation="25" Class="rounded-lg pb-4">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">@template.Class</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h3">@template.Name</MudText>
                            <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">@template.Description</MudText>
                        </div>
                        <MudList Class="mx-auto mt-4" Style="width:300px;">
                            <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                Strong
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                Fast
                            </MudListItem>
                            <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                Violent
                            </MudListItem>
                        </MudList>
                    </MudCardContent>
                    <MudCardActions Class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" @onclick="() => OnCharacterSelected(template.Name)">Choose</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code{
    private ActorTemplate[] Humans { get; set; } = new ActorTemplate[0];

    protected override Task OnInitializedAsync()
    {
        Humans = Game.Humans;
        return base.OnInitializedAsync();
    }

    public void OnCharacterSelected(string? name)
    {
        var template = Humans.Single(x => x.Name == name);
        var human = new Human(template);

        Game.SetContext(human);

        NavigationManager.NavigateTo("/character");
    }
}