@using Rpg.Sys.Components
@using System.ComponentModel
@using System.Diagnostics
@using Rpg.Sys.Components.Values
@inject NavigationManager NavigationManager
@inject IGameService<Human> Game

<div>
    <MudPaper Spacing="0" Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.BlueGrey.Darken3};")">
        <MudText Class="stat" Label="Base">@StatName</MudText>
        <MudNumericField Style="@($"color:{Colors.Grey.Lighten5};")" Class="bonus-input" @bind-Value="Bonus" Min="-10" Max="10" Format="@FormatBonus" Variant="Variant.Text" HideSpinButtons="true" DisableUnderLine="true" Adornment="Adornment.End" AdornmentIcon="@BonusIcon" AdornmentColor="Color.Primary"/>
        <MudNumericField Style="@($"color:{Colors.Grey.Lighten5};")" Class="@ScoreClass" @bind-Value="Score" Min="0" Max="20" Variant="Variant.Text" HideSpinButtons="false" DisableUnderLine="true" />
    </MudPaper>
</div>
@* <div>
    <MudGrid>
        <MudItem xs="12" Class="relative">
            <MudImage Fluid="true" ObjectFit="ObjectFit.Cover" Src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.png" />
            <MudPaper Class="absolute bonus">
                <MudNumericField @bind-Value="Bonus" Label="Bonus" Variant="Variant.Text" Min="0" Max="20" Format="@FormatBonus" HideSpinButtons="true" DisableUnderLine="true" />
            </MudPaper>
            <MudPaper Class="absolute score">
                <MudNumericField @bind-Value="Score" Label="@StatName" Variant="Variant.Text" Min="0" Max="20" HideSpinButtons="true" DisableUnderLine="true" />
            </MudPaper>
            <MudPaper Class="absolute base">
                <MudText Label="Base">@Base</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>
 *@

    @code {
    [Parameter]
    public string? StatName { get; set; }

    [Parameter]
    public ScoreBonusValue? ScoreBonus { get; set; }

    protected override Task OnInitializedAsync()
    {
        ScoreBonus!.PropertyChanged += PropChanged;
        return base.OnInitializedAsync();
    }

    private void PropChanged(object? sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();   
    }

    private int? Base
    {
        get => ScoreBonus != null ? Game.Graph.Mods.BaseValue(ScoreBonus, x => x.Score).Roll() : 0;
    }

    private int? Score
    {
        get => ScoreBonus?.Score;
        set
        {
            if (value == Base)
                Game.Graph.Mods.Remove(ScoreBonus!.Id, nameof(ScoreBonusValue.Score), ModifierType.BaseOverride);
            else
                Game.Graph.Mods.Add(BaseOverrideModifier.Create(ScoreBonus!, value ?? 0, x => x.Score));
        }
    }

    private string ScoreClass
    {
        get
        {
            var cls = "score-input";
            if (Base > Score)
                cls += " score-minus";

            else if (Base < Score)
                cls += " score-plus";

            return cls;
        }
    }

    private int? Bonus
    {
        get => ScoreBonus?.Bonus;
        set => Game.Graph.Mods.Add(BaseOverrideModifier.Create(ScoreBonus!, value ?? 0, x => x.Bonus));
    }

    private string? BonusIcon
    {
        get
        {
            var cls = "score-input";
            if (Base > Score)
                return Icons.Material.Filled.ArrowDropDown;

            else if (Base < Score)
                return Icons.Material.Filled.ArrowDropUp;

            return null;
        }
    }

    private string FormatBonus 
    { 
        get => Bonus > 0 ? "'+'##" : "##"; 
    }
}
